body {
  margin-top: 40px;
  background-color: azure;
  flex-wrap: wrap;
}

.viewer {
  display: flex;
  justify-content: center;
  background-color: whitesmoke;
  border: ridge;
  border-radius: 10px;
  max-width: 900px;
  max-height: 400px;
  margin: auto;
  box-shadow: 0 10px 30px 1px black;
}

.side {
  width: 50px;
  margin: auto;
}

#left {
  transform: rotate(0.5turn);
  width: 50px;
}

#left:hover {
  transform: scale(1.4) rotate(0.5turn);
}

#right {
  width: 50px;
}

#right:hover {
  transform: scale(1.4);
}
#photo {
  position: relative;
  align-items: center;
}


.details {
  position: absolute;
}
